@import './common.less';

/* stylelint-disable selector-pseudo-element-colon-notation */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
@font-face {
  font-weight: normal;
  font-family: 'pps-icon'; /* Project id 3269795 */
  font-style: normal;
  font-display: auto;
  src: url('//at.alicdn.com/t/font_3269795_5ggqk1ib3wb.woff2?t=1648110064326')
      format('woff2'),
    url('//at.alicdn.com/t/font_3269795_5ggqk1ib3wb.woff?t=1648110064326')
      format('woff'),
    url('//at.alicdn.com/t/font_3269795_5ggqk1ib3wb.ttf?t=1648110064326')
      format('truetype');
}
