@import './common.less';

@font-face {
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  font-family: 'pps-icon';
  src: url('//at.alicdn.com/t/font_3269795_qicy8c5dwd.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_3269795_qicy8c5dwd.woff') format('woff'),
    url('//at.alicdn.com/t/font_3269795_qicy8c5dwd.ttf') format('truetype');
}
