@import './common.less';

@font-face {
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  font-family: 'pps-icon';
  @font-face {
    font-family: 'iconfont'; /* Project id 2870517 */
    src: url('//at.alicdn.com/t/font_2870517_8hvmyvq74xl.woff2?t=1647502428684')
        format('woff2'),
      url('//at.alicdn.com/t/font_2870517_8hvmyvq74xl.woff?t=1647502428684')
        format('woff'),
      url('//at.alicdn.com/t/font_2870517_8hvmyvq74xl.ttf?t=1647502428684')
        format('truetype');
  }
}
